/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  border: 0px solid $light-gray;

  // add by Zhiyong
  text-align: left;

  & + table {
    margin-top: 1em;
  }
}


thead {
  background-color: $lighter-gray;
  //border-bottom: 1px solid $light-gray;
  //display:none;
}

th {
  //padding: 0.5em;
  //font-weight: bold;
  text-align: left;
  border-top: 1px solid;
  background-color: #EEEEEE;
}

//tr:nth-child(even) {background-color: #f2f2f2;}

td {
  padding: 0.5em;
  //border-bottom: 1px solid $light-gray;
  //border-right: 0px solid $light-gray;
  vertical-align: top;
}

tr, td, th {
  vertical-align: top;
  font-size: 16px;
  color: #000000;
}

tr.noshow { display: none;}
tr.bibtex pre {width: 100%; font-size:12px; text-overflow: ellipsis; display: block;}
p.infolinks { margin: 0em 0em 0em 0em; padding: 0px; }

.style_award {color: #FF0000}
.style2 {color: #FFFFFF}

a:link {
  color: #000099;
  text-decoration: none
}

a:visited {
  color: #000099;
  text-decoration: underline
}

a:hover {
  color: #000000;
  text-decoration: none
}

.single_img {
  width: 95%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  padding: 1px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 2px;
}

.research_img {
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  padding: 1px;
}

div.polaroid {
  width: 95%;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 2px;
}

div.container {
  text-align: center;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}